.quiz-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: calc(100vh- 90vh);
}


.quiz {
  border: 2px solid blueviolet;
  padding: 10px;
  color: blueviolet;
  align-items: center;
  height: 60vh;
  width: 45vw;
}

.answer-button {
  display: block;
  width: 80%;
  height: 30%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  text-align: center;
  cursor: pointer;
}

.custom-btn {
  display: block;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-2 {
  display: block;
  background: rgb(96, 9, 240);
  background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
  border: none;

}

.btn-2:before {
  height: 0%;
  width: 2px;
}

.btn-2:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-quiz {
  max-width: 30%;
  max-height: 30%;
  /* Ширина картинок */
}

.hidden {
  display: none;
}
